<span fxLayoutAlign="center center" class="item">
   <span class="px-1">By SpaceParrots</span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item">
  <a mat-button href="">
    <mat-icon>location_on</mat-icon>
    <span class="px-1">Discord</span>
  </a>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item">
  <a mat-button href="">
    <mat-icon>location_on</mat-icon>
    <span class="px-1">Twitch</span>
  </a>
</span>
