<mat-sidenav-container>
  <mat-sidenav [opened]="false" mode="over" #sidenav class="sidenav mat-elevation-z6">
    <button mat-icon-button color="warn" class="close" (click)="sidenav.close()">
      <mat-icon color="warn">close</mat-icon>
    </button>
    <div class="divider"></div>

    <div class="vertical-menu-wrapper">
      <app-vertical-menu></app-vertical-menu>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="page-wrapper" fxLayout="column" fxLayoutAlign="start stretch">

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span translate>APP_NAME</span>
        <span class="spacer"></span>

        <mat-icon class="active-game-icon" aria-hidden="false" aria-label="Bingo active">mobile_friendly</mat-icon>
        <mat-icon class="active-game-icon" aria-hidden="false" aria-label="Bingo offline">mobile_off</mat-icon>

        <app-lang></app-lang>
        <app-user-menu></app-user-menu>

      </mat-toolbar-row>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>


    <div fxLayout="row" fxLayoutAlign="center center" class="options-icon" (click)="options.toggle()">
      <mat-icon>settings</mat-icon>
    </div>

  </mat-sidenav-content>

  <mat-sidenav #options position="end" class="options" autoFocus="false">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="op-header mat-elevation-z1">
      <h2>Settings</h2>
      <button mat-icon-button (click)="options.toggle()" color="accent">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div fxLayout="column">
      <mat-action-list>
        <button mat-list-item > Neue Bingo Karte </button>
        <button mat-list-item > Neue Bingo Karte </button>
      </mat-action-list>
    </div>
  </mat-sidenav>

</mat-sidenav-container>
